HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/
!/src/test//target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!/src/main//build/
!/src/test//build/
/TreeML/14.xml
/TreeML/15.xml
/TreeML/16.xml
/TreeML/17.xml
/TreeML/18.xml
/TreeML/19.xml
/out/production/TP-IA-2022-G6/Dominio/Acciones/AccionAuxiliar.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/Action.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/ActionFactory.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/Agent.class
/out/production/TP-IA-2022-G6/Dominio/Agente.class
/out/production/TP-IA-2022-G6/Dominio/AgenteGoal.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/AgentState.class
/out/production/TP-IA-2022-G6/Auxiliares/Aleatorio.class
/out/production/TP-IA-2022-G6/Dominio/Ambiente.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/AStarSearch.class
/out/production/TP-IA-2022-G6/Auxiliares/Auxiliar.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/BreathFirstSearch.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/Constantes.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/datastructure/DataStructure.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/DepthFirstSearch.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/DummyEstimatedCostFunction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/DummyStepCostFunction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/environment/Environment.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/EnvironmentState.class
/out/production/TP-IA-2022-G6/Dominio/EstadoAgente.class
/out/production/TP-IA-2022-G6/Dominio/EstadoAmbiente.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/events/EventHandler.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/events/EventType.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/FileOperations.class
/out/production/TP-IA-2022-G6/Interface/Imagenes/fondoJuego.png
/out/production/TP-IA-2022-G6/Interface/Imagenes/fondoJuego2.png
/out/production/TP-IA-2022-G6/Dominio/FuncionCosto.class
/out/production/TP-IA-2022-G6/Dominio/Girasol.class
/out/production/TP-IA-2022-G6/Interface/Imagenes/girasol.png
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/GoalBasedAgent.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/GoalBasedAgentSimulator.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/search/GoalTest.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/datastructure/Graph.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/GraphvizTree.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/GreedySearch.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/IEstimatedCostFunction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/IInitialCostFunction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/InformedSearchStrategy.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/IStepCostFunction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/events/IterationFinishedEventHandler.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/situationcalculus/KnowledgeBase.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/LatexOutput.class
/out/production/faia-0.4.2/frsf/cidisi/faia/exceptions/LatexOutputException.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/datastructure/List.class
/out/production/faia-0.4.2/frsf/cidisi/faia/environment/MatlabEnvironment.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/MatlabEnvironmentState.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/datastructure/Matrix.class
/out/production/TP-IA-2022-G6/Dominio/Acciones/moverAbajo.class
/out/production/TP-IA-2022-G6/Dominio/Acciones/moverArriba.class
/out/production/TP-IA-2022-G6/Dominio/Acciones/moverDerecha.class
/out/production/TP-IA-2022-G6/Dominio/Acciones/moverIzquierda.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/NoAction.class
/out/production/TP-IA-2022-G6/Dominio/Acciones/noMover.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/NTree.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/datastructure/Pair.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/PdfFilesFilter.class
/out/production/TP-IA-2022-G6/Dominio/Percepcion.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/Perception.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/planning/Planning.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/planning/PlanningAction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/planning/PlanningBasedAgent.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/PlanningBasedAgentSimulator.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/planning/PlanningBasedAgentState.class
/out/production/faia-0.4.2/frsf/cidisi/faia/exceptions/PlanningException.class
/out/production/TP-IA-2022-G6/Interface/Imagenes/planta.png
/out/production/TP-IA-2022-G6/Interface/Imagenes/Planta1.png
/src/Interface/Imagenes/Planta1.png
/out/production/TP-IA-2022-G6/Dominio/Posicion.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/PrintOut.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/search/Problem.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/PrologConnector.class
/out/production/faia-0.4.2/frsf/cidisi/faia/exceptions/PrologConnectorException.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/datastructure/Queue.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/reactive/ReactiveAction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/reactive/ReactiveBasedAgent.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/ReactiveBasedAgentSimulator.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/reactive/ReactiveBasedAgentState.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/Search.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/search/SearchAction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/search/SearchBasedAgent.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/SearchBasedAgentSimulator.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/search/SearchBasedAgentState.class
/out/production/TP-IA-2022-G6/Dominio/SearchMain.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/datastructure/Simple.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/events/SimulationFinishedEventHandler.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/Simulator.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/events/SimulatorEventNotifier.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/situationcalculus/SituationCalculus.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/situationcalculus/SituationCalculusAction.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/situationcalculus/SituationCalculusBasedAgent.class
/out/production/faia-0.4.2/frsf/cidisi/faia/simulator/SituationCalculusBasedAgentSimulator.class
/out/production/faia-0.4.2/frsf/cidisi/faia/exceptions/SituationCalculusException.class
/out/production/faia-0.4.2/frsf/cidisi/faia/agent/situationcalculus/SituationCalculusPerception.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/Solve.class
/out/production/faia-0.4.2/frsf/cidisi/faia/state/State.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/Strategy.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/TempFilesFilter.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/TexFilter.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/TreeMLWriter.class
/out/production/TP-IA-2022-G6/Interface/UiMain.class
/out/production/faia-0.4.2/frsf/cidisi/faia/solver/search/UniformCostSearch.class
/out/production/TP-IA-2022-G6/Interface/Ventana.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/XmlTree.class
/out/production/faia-0.4.2/frsf/cidisi/faia/util/XMLWriter.class
/out/production/TP-IA-2022-G6/Dominio/Zombie.class
/out/production/TP-IA-2022-G6/Interface/Imagenes/zombies/zombie1.png
/out/production/TP-IA-2022-G6/Interface/Imagenes/zombies/zombie2.png
/out/production/TP-IA-2022-G6/Interface/Imagenes/zombies/zombie3.png
/out/production/TP-IA-2022-G6/Interface/Imagenes/zombies/zombie4.png
/out/production/TP-IA-2022-G6/Interface/Imagenes/zombies/zombie5.png
