<?xml version="1.0" encoding="UTF-8" standalone="no"?><estadoAmbienteXML><aleatorio>false</aleatorio><SolesPlanta>13</SolesPlanta><Zombie id="1"><Posicion><fila>5</fila><columna>5</columna></Posicion><poderZombie>-2</poderZombie></Zombie><Zombie id="2"><Posicion><fila>5</fila><columna>5</columna></Posicion><poderZombie>-4</poderZombie></Zombie></estadoAmbienteXML>